<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/assets/js/jquery-3.1.0.slim.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    @Html.Partial("~/Views/Shared/Header.cshtml")
    <script>
        function ClickToPay(ev) {
            var options = {
                "key": razorPayKey,
                "amount": parseFloat(price) * 100, // 2000 paise = INR 20
                "name": "Cart4All",
                "description": "test",
                "image": "/assets/img/Cart4All.JPG",
                "handler": function (response) {
                    console.log(response.razorpay_payment_id);
                    location.href = '/payment/success';
                },
                "prefill": {
                    "name": name,
                    "email": email
                },
                "notes": {
                    "address": address
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            ev.preventDefault();
        }
    </script>
</head>

<body>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <header class="topSection">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End header section -->
    <section>
        <div class="container mainSection woocommerce-page">

            <div class="orderDetails woocommerce">
                <h3>Your Order Details</h3>
                <div id="order_review" class="woocommerce-checkout-review-order">
                    <table class="shop_table woocommerce-checkout-review-order-table">
                        <thead>
                            <tr>
                                <th class="product-name">Product</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart_item">
                                <td class="product-name">
                                    <span>Italian Macarons</span>
                                    <strong class="product-quantity">× 1</strong>
                                </td>
                                <td class="product-total">
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol">₹</span>15.00
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">₹</span>15.00</span></td>
                            </tr>
                            <tr class="cart-subtotal">
                                <th>Delivery Charges</th>
                                <td><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">₹</span>0.00</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">₹</span>15.00</span></strong> </td>
                            </tr>
                            <tr class="order-total">
                                <th><strong>
                                        <span class="woocommerce-Price-amount amount">                                            
                                            <button id="btnCancel" class="btn btn-default" onclick="BackToHome()">Back to Cart</button>
                                        </span>
                                </strong></th>
                                <td>
                                    <strong>
                                        <span class="woocommerce-Price-amount amount">
                                            <button id="rzpPayment" class="btn btn-success" onclick="ClickToPay(event)">Pay Here</button>
                                        </span>
                                    </strong>
                                </td>
                            </tr>

                        </tfoot>
                    </table>
                    <form>
                        <h3 class="card-title">Customer Details</h3>
                        <div class="card" style="width: 100%">
                            <div class="card-body">
                                <h4 class="card-title">Name</h4>
                                <h6 class="card-subtitle mb-2 text-muted cname"></h6>
                                <h4 class="card-title">Contact</h4>
                                <h6 class="card-subtitle mb-2 text-muted contact"></h6>
                                <h4 class="card-title">Delivery Address:</h4>
                                <p class="card-text address"></p>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- Start Footer -->
    @Html.Partial("~/Views/Shared/Footer.cshtml")
    <!-- End Footer -->
    <script type="text/javascript">
        var name = sessionStorage.getItem('name');
        var email = sessionStorage.getItem('email');
        var mobile = sessionStorage.getItem('mobile');
        
        var price = sessionStorage.getItem('price');
        if (price == undefined || price == null || price < 1) {
            price = 1;
        }
        var address = sessionStorage.getItem('address');
        var razorPayKey = "@ViewBag.RazorPayKey";
        var _descr = sessionStorage.getItem('Descr');
        var descr = JSON.parse(_descr);
        
        
            var td = $("td.product-name");
            for (var i = 0; i < descr.length; i++) {            
                td.append("<span>" + descr[i].Item + "</span>");
                td.append("<strong class='product-quantity'>× " + descr[i].Quantity + "</strong>");
                td.append("<span>" + descr[i].Price + "</span>");
            }
        $("td.product-name").html(td);
        console.log($("td.product-name"));

        $('h6.cname').html(name);
        $('h6.contact').html(mobile);
        $('p.address').html(address);
        $('#rzpPayment').text('Pay ₹' + price);
        function BackToHome() {
            if (confirm("Are you sure you want to cancel transaction and move back to Cart?"))
                window.location.href = "/";
            else
                return false;
        }
    </script>
</body>
</html>