@model IEnumerable<CoreProject.Models.Product>

<!DOCTYPE html>

<html>
<head>
</head>
<body class='orderPage'>
    @Html.Partial("~/Views/Shared/Header.cshtml")
    <div class="container content-panel">
        <br /><br /><br /><br />                                       
        <!-- Modal -->
        
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div ng-app="product">
                        <div ng-controller="productController">
                            <!-- Trigger the modal with a button -->
                            <div class="searchFilter pull-right form-group">
                                <input type="text" ng-model="searchText" placeholder="Search by Item Name" />
                                @*<i class='fa fa-search'></i>*@
                            </div>
                            <table id="productList" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Price</th>
                                        @*<th scope="col" ng-click="sortData('name')">Item Name <i ng-class="getSortClass('name')" class="pull-right"></i></th>
                                        <th scope="col" ng-click="sortData('type')">Type <i ng-class="getSortClass('type')" class="pull-right"></i></th>
                                        <th scope="col" ng-click="sortData('price')">Price <i ng-class="getSortClass('price')" class="pull-right"></i></th>*@
                                        @*<th scope="col" ng-click="sortData('Quality')">Quality <i ng-class="getSortClass('Quality')" class="pull-right"></i></th>
                                        <th scope="col">Image URL</th>*@
                                        <th scope="col">ON/OFF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr ng-repeat="product in productData | orderBy:sortColumn:reverseSort | filter:search">*@
                                    <tr ng-repeat="product in productData | filter:search">
                                        <td>{{product.name}}</td>
                                        <td>{{product.type}}</td>
                                        <td>{{product.price}}</td>
                                        @*<td>{{product.quality}}</td>
                                        <button>                            <td>{{product.imageUrl}}</td>
                                            <td></button> class="btn btn-default">Edit</button></td>*@
                                        <td>
                                            <div class="OnOffSwitch">
                                                <input id="{{product.id}}" name="TriSea1" type="checkbox">
                                                <label for="{{product.id}}" class="label-success"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer -->
    @*@Html.Partial("~/Views/Shared/Footer.cshtml")*@
    <!-- End Footer -->
    <!-- End Footer -->
    <!-- jQuery library -->
    
    <script src="~/assets/js/angularjs.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/assets/js/bootstrap.js"></script>
    <!-- Application js -->

    <script>        
        //set grid
        var app = angular.module("product", []).controller(
            "productController", function ($scope, $http) {
                var request = {
                    method: 'get',
                    url: '/assets/js/data.json',
                    //dataType: 'json',
                    //contentType: "application/json"
                };
                $http(request).then(function (product) {
                    $scope.productData = product.data;
                });
                $scope.sortColumn = 'name';
                $scope.reverseSort = false;

                $scope.sortData = function (column) {
                    $scope.reverseSort = ($scope.sortColumn == column) ? !$scope.reverseSort : false;
                    $scope.sortColumn = column;
                }

                $scope.getSortClass = function (column) {
                    if ($scope.sortColumn == column) {
                        return $scope.reverseSort ? 'arrow-down' : 'arrow-up';
                    }
                    return '';
                }

                $scope.search = function (item) {
                    if ($scope.searchText == undefined) {
                        return true
                    }
                    else {
                        if (item.name.toLowerCase().indexOf($scope.searchText.toLowerCase()) != -1 || item.type.toLowerCase().indexOf($scope.searchText.toLowerCase()) != -1) {
                            return true
                        }
                    }
                    return false
                }

            }
        )
    </script>

</body>
</html>
