@model IEnumerable<CoreProject.Models.Product>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/js/common.js"></script>
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
        }

        #myInput {
            /*background-image: url('/css/searchicon.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }

        
    </style>
    
</head>
<body onload="LoadGrid();">
    <div class="container">
        <div class="margin-top-10">
            <div class="float-left">
                <form class="display-inline">
                    <div id="backdrop" class="modal-backdrop in"></div>
                    <div id="divOnOff" class="well">
                        <br />
                        <span><strong>Total Items in Restaurant:</strong></span>
                        <span id="totalItems">0</span><br />
                        <strong>Change Restaurant Status by clicking the checkbox below..</strong><br />
                        <input id="chkOnOff" type="checkbox" value="On/Off" class="form-group-lg" onchange="OnOFFStatus(this);">  ON/OFF</input>
                    </div>
                    <div id="resON" class="alert alert-success" style="display:none;">
                        <strong> Restaurant is ON and accepting Orders at present</strong>
                    </div>

                    <div id="resOFF" class="alert alert-danger" style="display:none;">
                        <strong> Restaurant is OFF and cannot accept Orders at present</strong>
                    </div>
                    <div id="loading">
                        Loading...
                    </div>
                    <input id="txtSearch" type="text" onkeyup="filterItemName()" placeholder="Search for Item Names.." class="gj-textbox-md display-inline-block width-200" />
                </form>
            </div>
        </div>
        <div class="modal" id="updateStatusBox" style="width:98%;height:80%;position:absolute;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h2 class="modal-title">Update Status</h2>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                            <div class="form-group col-md-6">
                                <label>Item Name</label>
                                <input id="hdnProductId" type="hidden" />
                                <input id="txtName" type="text" autocomplete="off" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Status</label>
                                <select id="itemStatus" class="form-control">
                                    <option value="select">Select</option>
                                    <option value="1">true</option>
                                    <option value="0">false</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Price</label>
                                <input id="txtPrice" type="number" autocomplete="off" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cPhoneNumber">Type</label>
                                <select id="itemType" class="form-control">
                                    <option value="0">Select</option>
                                    <option value="1">Veg</option>
                                    <option value="2">Eggetarian</option>
                                    <option value="3">NonVeg</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="form-group col-md-12 paymentOptions" style="align-items:center">
                            <div>
                                <button type="button" class="btn btn-success" onclick="updateItems();" >Update</button>
                                <button type="button" class="btn cancel" onclick="hideBox()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
        <div id="itemGrid" class="table-responsive" style="display:none">
            <table id="mytable" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Item Name</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function LoadGrid() {
            var _subdomain = getSubDomain();
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "/Product/GetFoodItemList", // Controller/View
                    data: { //Passing data
                        subdomain: _subdomain, //Reading text box values using Jquery
                    },
                    success: function (data) {
                        var products = JSON.parse(data);
                        table = document.getElementById("mytable");
                        tr = table.getElementsByTagName("tr");
                        var count = products.length;
                        $('span#totalItems')[0].innerHTML = count;                        
                        if (products != undefined && products != null && products.length > 0) {
                            if (products[0].OnOff == true) {
                                $('#chkOnOff').prop("checked", true);
                                $('#resON').show();
                                $('#resOFF').hide();
                            }
                            else {
                                $('#chkOnOff').prop("checked", false);
                                $('#resON').hide();
                                $('#resOFF').show();
                            }
                            for (i = 1; i < products.length; i++) {
                                var status = '';
                                if (products[i].isActive == true) {
                                    status = '<td> <input id="' + products[i].Id + '" type="checkbox" checked onclick=updateStatus(' + products[i].Id + ')>' + '</td>';
                                }
                                else {
                                    status = '<td> <input id="' + products[i].Id + '" type="checkbox" onclick=updateStatus(' + products[i].Id + ')>' + '</td>';
                                }
                                var a = $(
                                    status +
                                    '<td colspan="1" class="productName">' + products[i].name + '</td>'
                                    + '<td colspan="1" >' + products[i].isActive + '</td>'
                                    + '<td colspan="1" >' + products[i].price + '</td>'
                                    + '<td colspan="1" >' + products[i].type + '</td>');
                                $("#mytable").find('tbody')
                                    .append($('<tr id="row' + products[i].Id + '">')
                                        .append(a)
                                    );
                            }
                            $('#itemGrid').show();
                            $('#loading').hide();
                            $('#backdrop').hide();
                        }
                        else {
                            $('#itemGrid').hide();
                            $('#loading').hide();
                            $('#backdrop').hide();
                            console.log('add new restaurant name value to restaurants table and accordingly insert that restaurant id and other fields in fooditems table.')
                        }
                        
                    },
                    error: function () {
                        alert("No Data");
                    }
                });
        }
        function filterItemName() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("txtSearch");
            filter = input.value.toUpperCase();
            table = document.getElementById("mytable");
            tr = table.getElementsByTagName("tr");
            if (input.value.length > 2) {
                // Loop through all table rows, and hide those who don't match the search query
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByClassName("productName")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else {
                for (i = 1; i < tr.length; i++) {
                    tr[i].style.display = "";
                }
            }
        }
        function updateStatus(CheckId) {
            var answer = confirm("Are you sure you want to update this item ?");
            if (answer) {
                $('#hdnProductId').val(CheckId);
                $('#backdrop').show();
                $('#updateStatusBox').show();

                $('input#txtName.form-control').val($('#row' + CheckId + ' td')[1].innerText);//Item Name poha
                
                // setting status
                var isChecked = $('input#' + $('#hdnProductId').val()).prop("checked");
                if (isChecked) {
                    $('#itemStatus')[0].value = 1;
                }
                else {
                    $('#itemStatus')[0].value = 0;
                }
                $('#row4 td')[4].innerText //Type Veg
                $('input#txtPrice.form-control').val($('#row' + CheckId + ' td')[3].innerText);//price
                // setting type
                var itemType = $('#row' + CheckId + ' td')[4].innerText;
                if (itemType.toUpperCase().trim() == 'VEG') {
                    $('#itemType')[0].value = 1;
                }
                else if (itemType.toUpperCase().trim() == 'EGGETARIAN') {
                    $('#itemType')[0].value = 2;
                }
                else if (itemType.toUpperCase().trim() == 'NONVEG') {
                    $('#itemType')[0].value = 3;
                }
            }
            else {
                var isChecked = $('input#' + CheckId).prop("checked");
                if (isChecked == true) {
                    $('input#' + CheckId).prop("checked", false);
                }
                else {
                    $('input#' + CheckId).prop("checked", true);
                }
                return false;
            }
        }
        function hideBox() {
            $('#backdrop').hide();
            $('#updateStatusBox').hide();
            var hdnProductId = $('#hdnProductId').val();
            var isChecked = $('input#' + hdnProductId).prop("checked");
            if (isChecked == true) {
                $('input#' + hdnProductId).prop("checked", false);
            }
            else {
                $('input#' + hdnProductId).prop("checked", true);
            }
        }
        function updateItems() {
            var i = validateValues();
            if (i == true) {
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "/Product/updateFoodItem", // Controller/View
                        data: { //Passing data
                            ItemId: $('#hdnProductId').val(),
                            ItemName: $('#txtName').val(),
                            ItemPrice: $('#txtPrice').val(),
                            ItemStatus: $('#itemStatus')[0].value,
                            ItemType: $('#itemType')[0].value,
                        },
                        success: function (data) {
                            if (data == true) {
                                alert("Data Updated Successfully!");
                                hideBox();
                                window.location.reload();
                            }
                            else {
                                alert("Some problem occured while updating. Please logout and try after some time.");                                
                            }
                        },
                        error: function () {
                            alert("Some problem occured while updating. Please logout and try after some time.");
                        }
                    });}
            else {
                alert('All fields are not properly field!');
            }
        }
        function validateValues() {
            var ItemName = $('#txtName').val();
            var ItemPrice = $('#txtPrice').val();
            var ItemStatus = $('#itemStatus')[0].value;
            var ItemType = $('#itemType')[0].value;
            
            if (ItemName.length < 1) {
                alert('Item Name cannot be blank!');
                return false;
            }
            //else if (ItemPrice.length < 1) {
            //    return false;
            //}
            else if (!ItemPrice.match(/^\d+/)) {
                alert("Please only enter numeric characters only! (Allowed input:0-9)");
                return false;
                
            }
            else if (ItemStatus == 'select') {
                alert('Please select between true Active and Inactive!');
                return false;
            }
            else if (ItemType == 'select') {
                alert('Please select Veg Type!');
                return false;
            }
            else {
                return true;
            }
        }        
        function OnOFFStatus(obj) {
            $('#backdrop').show();
            var restaurantName = getSubDomain();
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "/Product/OnOFFRestaurant", // Controller/View
                    data: { //Passing data
                        restaurant: restaurantName,
                        status: obj.checked
                    },
                    success: function (data) {
                        if (data == true) {
                            alert("Status Updated Successfully!");
                            window.location.reload();
                        }
                        else {
                            alert("Some problem occured while updating. Please logout and try after some time.");
                        }
                    },
                    error: function (data) {
                        console.log(data);
                        alert("Some problem occured while updating. Please logout and try after some time.");
                    }
                });
            $('#backdrop').hide();
        }
    </script>
</body>
</html>