@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Address of Cart4All goes here<br />
    <br />
    <abbr title="Phone">tel:</abbr>
    9967248008
</address>

<address>
    <strong>Support:</strong> <a href="mailto:admin@articoletech.com">"admin@articoletech.com"</a><br />
    <strong>Sales:</strong> <a href="mailto:admin@articoletech.com">"admin@articoletech.com"</a>
</address>