
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart4All.com - Something Went Wrong</title>
</head>
<body>
    OOPS! Something Went wrong. Please contact Restaurant Owner.
</body>
</html>
