
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon">
    <!-- Font awesome -->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Theme color -->
    <link id="switcher" href="~/assets/css/theme-color/default-theme.css" rel="stylesheet">
    <!-- Main style sheet -->
    <link href="~/assets/css/iconFont.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <!-- Prata for body  -->
    <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
    <!-- Tangerine for small title -->
    <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <!-- Open Sans for title -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Robot for All -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- jQuery library -->
    <script src="~/assets/js/jquery-3.1.0.slim.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript">
        var userName = sessionStorage.getItem('userName');
        var address = sessionStorage.getItem('FullAddress');
        var price = sessionStorage.getItem('price');        
        var orderId = sessionStorage.getItem('myOrderId');
        var email = sessionStorage.getItem('email');
        var userPhone = sessionStorage.getItem('userPhone');
        var paymentId = sessionStorage.getItem('razor_pay_id');
        
        try {
            if (orderId != null && orderId != undefined && orderId != "") {
            @{
                ViewData["ThankYou"] = "Congratulations!";
                ViewData["Title"] = "Your Order Id is sent to you on mail and via sms.";
                ViewData["Message"] = "Our Delivery Team will reach you soon.";                
            }
            }
            else {
                location.href = '/home/ErrorPage';
            }
        }
        catch (e) {
            location.href = '/home/ErrorPage?msg='+ e.message;
        }
        $(document).ready(function () {
            sendNotification();
            SendMailToOwner();
        });
        function sendNotification() {
            $.ajax({
                url: "/Home/SendOrderId",
                method: 'GET',
                data: { //Passing data
                    number: userPhone,
                    myOrderId: orderId,
                    orderedItems: sessionStorage.getItem('COD_Items'),
                    userName: userName,
                    paymentId: paymentId
                },
                success: function (data) {
                    if (data != false) {
                        //alert('Your Order Id is sent to you on mail and via sms.');
                        $("#ViewOrder").click(function () {
                            if ($('#OrderId')[0].innerHTML.length == 0) {
                                $("#details").show();
                                $('#OrderId').html("<strong>Order Id:</strong> " + sessionStorage.getItem('myOrderId'));
                                $('#COD_Items').html("<strong>Items:</strong> " + sessionStorage.getItem('COD_Items'));                                
                                $('#Price').html("\n<strong>Total Price:</strong> ₹" + sessionStorage.getItem('price'));
                                $('#Address').html("\n<strong>Delivery Address:</strong> " + sessionStorage.getItem('FullAddress'));
                                $('#ViewOrder')[0].innerHTML = "Click back to Hide Your Order Details";
                            }  
                            else {
                                $("#details").hide();
                                $('#ViewOrder')[0].innerHTML = "Click here to view your Order Details";
                                $('#OrderId').html("");
                                $('#Price').html("");
                                $('#Address').html("");
                            }
                        })
                    }
                    else {
                        $("#details").hide();
                        $('#ViewOrder')[0].innerHTML = "Click here to view your Order Details";
                        $('#OrderId').html("");
                        $('#Price').html("");
                        $('#Address').html("");
                    }
                }
            });
        }
        function SendMailToOwner() {
            var body = '<!DOCTYPE html><html><head><style>table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%;}td, th { border: 1px solid #dddddd; text-align: left; padding: 8px;}tr:nth-child(even) { background-color: #dddddd;}</style></head><body><table> <tr> <th>Order Id</th> <th>Name</th><th>Items</th> <th>Address</th> </tr> <tr> <td>';
            body += sessionStorage.getItem('myOrderId') + '</td> <td>' + sessionStorage.getItem('userName') + '</td><td>' + sessionStorage.getItem('COD_Items') +'</td> <td>' + sessionStorage.getItem('FullAddress')+'</td> </tr> </table></body></html>';
            $.ajax(
                {
                    type: "POST", //HTTP POST Method
                    url: "/Payment/SendMailToOwner", // Controller/View
                    data: { //Passing data
                        userDetails: body,
                        toEmail: sessionStorage.getItem('OwnerEmail'),
                        orderId: sessionStorage.getItem('myOrderId'),
                        paymentId: sessionStorage.getItem("razor_pay_id")
                    },
                    success: function (data) {
                        if (data == null) {
                            return false;
                        }
                        else {
                            //alert('SMS sent on your number ' + $('.contact').text());
                        }
                    }
                });
        }
    </script>
</head>
<body>
    <section>
        <div class="container mainSection">
            <div class="jumbotron text-xs-center">
                <h1 class="display-3"> @ViewData["ThankYou"]</h1>
                <h2 class="display-3">@ViewData["Title"]</h2>
                <p class="lead">@ViewData["Message"]</p>
                <p class="lead">
                    <a class="btn btn-primary btn-sm" id="ViewOrder" role="button">Click here to view your Order Details</a><br />
                    <div id="details" class="col well" style="background-color:orange;display:none;width:95%;margin:0 auto;">
                        <span id="OrderId"></span><br />
                        <span id="Price"></span><br />
                        <span id="Address"></span>
                    </div>
                </p>
                <p class="btn-default">
                    <a href="/">Order Again..</a>
                </p>
            </div>
        </div>
    </section>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>
</html>
