<html>
<head>
    <title>Angular JS Includes</title>

    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

            table tr:nth-child(odd) {
                background-color: #f2f2f2;
            }

            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
</head>

<body>          
    <div  ng-app="" ng-controller="studentController">
        <div>
            <div class="searchFilter pull-right form-group">
                <input type="text" ng-model="searchText" placeholder="Search by Item Name"></input>
            </div>
            <table id="productList" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Price</th>                       
                        <th scope="col">ON/OFF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in productData | filter:search">
                        <td>{{product.name}}</td>
                        <td>{{product.type}}</td>
                        <td>{{product.price}}</td>                        
                        <td>
                            <div class="OnOffSwitch">
                                <input id="{{product.id}}" name="TriSea1" type="checkbox">
                                <label for="{{product.id}}" class="label-success"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        
    <script>
        function studentController($scope, $http) {
            // POST Data from Angular
            var req = {
                method: 'POST',
                url: '/home/GetFoodItemList',
                headers: {
                    'Content-Type': undefined
                },
                data: { MenuId: '1' }
            }
            $http(req).then(function (data) {
                console.log(data)
            }, function (error) { console.log(error) });

            // GET Data from Angular
            //var cnt = "/home/LoadJson";
            //$http.get(cnt).then(function (response) {
            //    console.log(response)
            //    $scope.students = response.data;
            //});
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
    </script>

</body>
</html>